// ===========================================
// Blog
// ===========================================

.blog {
    width: $container-width;
    max-width: $container-width-max;
    margin: 6rem auto 0 auto;
    text-align: center;

    @include tablet {
        margin: 11rem auto;
    }

    &__card {
        margin-bottom: 3rem;
        border: 1px solid #d8d8d8;
        text-align: left;

        @include tablet {
            width: 45%;
        }

        @include desktop {
            width: 30%;
        }

        &--full {
            width: 100%;
        }

        &--half {
            width: 100%;

            @include tablet {
                width: 45%;
            }
        }

        &--noborder {
            border: 0;
        }

        &__content {
            padding: 2rem;

            & button {
                border: 2px solid $primary-color;
                text-transform: uppercase;
                background-color: transparent;
                color: $primary-color;
                border-radius: 50px;
                font-size: 1rem;
                font-weight: 400;
                padding: 0.5rem 0.7rem;

                &:hover {
                    color: $primary-color-light;
                    border-color: $primary-color-light;
                }
            }

            & h1 {
                font-size: 2rem;
            }

            &--services {
                margin-top: 1.8rem;
                text-align: left;
                padding-left: 0;
                padding-right: 0;

                & h2 {
                    text-transform: none;
                    font-weight: 500 !important;
                    font-size: 1.5rem !important;
                }
            }
        }

        &__container {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
            margin: 3rem auto;

            @include tablet {
                flex-direction: row;
                flex-wrap: wrap;
                margin: 2rem auto;
            }

            &--full {
                margin-top: 120px;
                width: 100%;
            }

            &--half {
                justify-content: space-around;
            }

            & h2 {
                font-size: 1.2rem;
                font-weight: 700;
            }
        }

        &__image {
            width: 100%;
            height: 200px;
            overflow: hidden;

            & img {
                width: 100%;
                object-fit: contain;
            }

            &--services {

                & img {
                    width: 100%;
                    object-fit: contain;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        opacity: 0.5;
                        transition: all 0.2s ease-in-out;
                    }
                }
            }

            &--tall {
                height: auto;
                margin-top: 3rem;
            }
        }
    }

    &--nomargin {
        margin: 0;
        width: 100%;
    }
}