// ===========================================
// Blog
// ===========================================

.blog {

    &__card {
        position: relative;
        width: 40%;
        height: 550px;
        border-radius: 7px;
        background-color: $container-bg;
        transition: all 0.3s ease-in-out;
        border: 1px solid rgba(124, 124, 124, 0.2);

        &__container {
            display: flex;
            margin: 0 auto;
            width: 90%;
            justify-content: space-between;
        }

        &__content {
            padding: 1.3rem;

            & h2 {
                color: $primary-color-dark;
                font-size: 1.563rem;
            }

            &__meta {
                display: block;
                margin-bottom: 1rem;
                color: $secondary-color-dark;
                letter-spacing: 0.08rem;
                font-size: 0.7rem;
                text-transform: uppercase;
                font-weight: bold;
            }

            & button {
                position: absolute;
                bottom: 1.3rem;
                left: 1.3rem;
            }
        }

        &__header {
            overflow: hidden;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            border-bottom: 1px solid rgba(0, 0, 0, 0);
            transition: all 0.3s ease-in-out;
        }

        &__image {
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            background-image: url('https://picsum.photos/400/300');
            background-size: cover;
            width: 100%;
            height: 200px;
            transform: scale(1);
            transition: all 0.4s ease-in-out;
        }

        &:hover {
            border: 1px solid rgba(124, 124, 124, 0.2);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        &:hover .blog__card__header {
            border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	        box-shadow: 0 20px 20px -20px rgba(84, 79, 87, 0.63);
            transition: all 0.3s ease-in-out;
        }
    }
}