// ===========================================
// Buttons
// ===========================================

button {
    border-radius: 6px;
    border: 0;
    background-color: $primary-color-light;
    padding: 0.4rem 0.8rem;
    color: #fff;
    transition: all 0.2s ease-in-out;
    font-size: 0.9rem;

    &:hover {
        background-color: $primary-color;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }
}

.button--light {
    @extend button;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;

    &:hover {
        transition: all 0.2s ease-in-out;
        //background-color: $secondary-color;
        background-color: #fff;
        border: 1px solid transparent;
        color: $primary-color;
    }
}