// ===========================================
// Buttons
// ===========================================

button {
    border-radius: 6px;
    border: 0;
    background-color: $primary-color-light;
    padding: 0.4rem 0.8rem;
    color: #fff;
    transition: all 0.2s ease-in-out;
    font-size: 0.9rem;

    &:hover {
        background-color: $primary-color;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }

    &:focus {
        outline: $focus-light;
    }
}

.button--light {
    @extend button;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;

    &:hover {
        transition: all 0.2s ease-in-out;
        background-color: #fff;
        border: 1px solid transparent;
        color: $primary-color;
    }

    &:focus {
        outline: $focus-dark;
    }
}

.button--green {
    @extend button;
    background-color: #76c142;
    border: 1px solid #76c142;
    border-color: #76c142;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.5rem 1.4rem;
    color: #000;

    &:hover {
        transition: all 0.2s ease-in-out;
        background-color: $container-bg;
        border: 1px solid $secondary-color;
        color: $primary-color;
    }

    &:focus {
        outline: $focus-dark;
    }
}