// ===========================================
// Footer
// ===========================================

.footer {
    width: 100%;
    margin-top: 6rem;
    font-size: 0.9rem;

    &__copyright {
        padding: 1.3rem 0;
        margin: 0 auto;

        @include tablet {
            margin: initial;
        }
    }
    
    &__section {
        width: 100%;

        @include desktop {
            width: 50%;
        }

        & h2 {
            margin: 5rem 0;

            @include desktop {
                margin: 0 0 2rem 0;
            }
        }

        & p {
            text-align: left;

            @include desktop {
                padding-right: 8rem;

                &:nth-of-type(2) {
                    padding-left: 3rem;
                }
    
                &:nth-of-type(3) {
                    padding-left: 3rem;
                }
            }
        }

        &__map {
            margin: 0 auto 3rem auto;
            width: 80%;
            height: 300px;
        }

        &__container {
            display: flex;
            width: 90%;
            margin: 0 auto;
            flex-direction: column;
            justify-content: space-between;

            @include desktop {
                flex-direction: row;
            }
        }

        &__image {
            background-image: url('https://www.immergetech.com/assets/images/base/mcclunglogo.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 250px;
            height: 155px;
        }
    }

    &__social {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 1rem;
        margin: 0 auto;

        @include tablet {
            margin: initial;
            padding: 1.3rem 4rem 0 0;
        }

        & i {
            font-size: 1.3rem;
            display: inline-block;
            padding: 0 1.25rem;

            @include tablet {
                padding: 0 2.5rem 0 0;
            }
        }
    }

    &__sponsors {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 5rem;

        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 4rem;
        }

        @include desktop {
            justify-content: space-between;
            margin-top: 2rem;
            padding-right: 9rem;
        }

        & img {
            width: 50%;
            margin-bottom: 3rem;

            @include tablet {
                width: 40%;
                margin: 1rem 0 0.2rem 0;
            }

            &:nth-of-type(1) {
                border: 1px solid #4384f565;

                @include tablet {
                    max-height: 70px;
                }
            }

            &:nth-of-type(2) {

                @include tablet {
                    max-height: 100px;
                }
            }
        }
    }

    &__subfooter {
        background-color: #444;
        color: #fff;
    }
}