// ===========================================
// Global
// ===========================================


* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    //height: 100%;
}

body {
    background-color: #fff;
    color: $text-color;
    font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 400;
    line-height: 2.2;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    // padding-top: 80px;

    // @include tablet {
    //     padding-top: 85px;
    // }

    // @include desktop {
    //     padding-top: 115px;
    // }
}

p {
    margin: 1rem 0;
}

h1, h2, h3, h4, h5 {
  margin: 1.414rem 0 0.5rem;
  font-weight: inherit;
  letter-spacing: -0.05rem;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  color: #444;
}

h1 {
  font-size: 2.441rem;
}

h2 {
    font-size: 1.953rem;
}

h3 {
    font-size: 1.563rem;
}

h4 {
    font-size: 1.25rem;
}

small {
    font-size: 0.8rem;
}

a:focus {
    outline: $focus-light;
}

.no-padding {
    padding: 0;
}

.text {

    &--center {
        text-align: center;
    }

    &--left {
        text-align: left;
    }

    &--muted {
        color: $text-muted;
    }
}

.grow {
    flex-grow: 1;
    width: 100%;
}

.flex {
    display: block;

    @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.flex-column {
    display: block;

    @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

.flex-center {
    align-items: center !important;
}

.flex-start {
    align-items: flex-start;
}

/* The little scroll to top button on every page */
.scroll-to-top {
    position: fixed;
    z-index: 99999;
    right: 0;
    bottom: 100px;
    padding: 0.5rem 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    line-height: 1;
    opacity: 1;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $primary-color-light;
        font-size: 2.3rem;
        transition: all 0.3s ease-in-out;
    }

    &--hide {
        opacity: 0;
        right: -30px;
        transition: all 0.3s ease-in-out;
    }
}

/* For The Map Marker On The Google Map On The Contact Page*/
.infoContainer {
    text-align: left;

    & h2 {
        color: $primary-color;
        font-size: 1.2rem;
        font-weight: 800;
        margin: 0 0 0.3rem 0 !important;
        padding: 0 !important;
        text-transform: none;
        letter-spacing: 0.05rem;
    }

    & p {
        margin: 0 !important;
        padding: 0 !important;
        font-size: 1rem !important;
    }
}

/* This is used on the services detail pages*/
.special-background {
    background-color: #f7f7f7;
    padding: 3rem;
}

section {
    margin: 0 auto 9rem auto !important;
}

/* The callouts section need more bottom margin because of the absolute positioning */
.extra-margin {
    margin: 0 auto 13rem auto !important;
}

/* This is for pages with no hero and the content needs to drop
    below the header */
.no-hero {
    margin-top: 180px !important;
}

/* The google map on the contact page */
#js-google_map {
    margin: 2rem auto 2rem 0;
    width: 100%;
    height: 300px;
}

.error {
    color: #fa5252;
}