// ===========================================
// Header
// ===========================================

.header {
    position: fixed;
    top: 0;
    height: 105px;
    width: 100%;
    background-color: $container-bg;
    color: #222;
    border-bottom: 1px solid rgba(124, 124, 124, 0.2);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    z-index: 9;
}