// ===========================================
// Hero
// ===========================================

.hero {
    margin-top: 80px;
    width: 100%;
    height: 520px;
    background-color: blue;

    @include tablet {
        margin-top: 105px;
    }
}