// ===========================================
// Links
// ===========================================


a.none:link {
    color: initial;
    text-decoration: none;
    background-image: none;
}

a.none:visited {
    color: initial;
    text-decoration: none;
    background-image: none;
}

a.none:active {
    color: initial;
    text-decoration: none;
    background-image: none;
}

a.none:hover {
    color: initial;
    text-decoration: none;
    background-image: none;
}

a:link {
    text-decoration: none;
    color: $primary-color-dark;
    transition: all 0.2s ease-in-out;
}

a:visited {
    color: $primary-color-dark;
}

a:active {
    color: $primary-color-dark;
}

a:hover {
    color: $primary-color-light;
    transition: all 0.2s ease-in-out;
}


a.menu:link {
    font-weight: 700;
    position: relative;
    color: initial;
    text-decoration: none;
    background-image: none;
}

a.menu:visited {
    color: initial;
    text-decoration: none;
    background-image: none;
}

a.menu:active {
    color: initial;
    text-decoration: none;
    background-image: none;
}

a.menu:hover {
    color: initial;
    text-decoration: none;
    background-image: none;
}