// ===========================================
// Multiform
// ===========================================

.multiform {
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    opacity: 0.9;
    width: 50%;

    &__active {
        //background-color: #362469;
        background-image: url('https://www.immergetech.com/assets/images/base/favicon.png');
        background-size: cover;
        border: 1px solid transparent !important;
        width: 20px !important;
        height: 20px !important;
    }

    &__ball {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        margin: 0.5rem;
        display: inline-block;
        border: 1px solid rgba(172, 170, 170, 0.7);

        &__container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem 0;
        }
    }

    &__button {
        align-items: center;
        background-color: #868e96;
        border-radius: 5px;
        color: #fff;
        display: flex;
        font-weight: 800;
        padding: 0.5rem 1.1rem;

        &:hover {
            background-color: #362469;
        }

        &__next {
            padding-left: 1.6rem;

            &:after {
                content: '\f105';
                font-size: 1rem;
                font-family: 'Font Awesome 5 Free';
                margin: 0 0.3rem;
                padding-left: 0.2rem;
                transform: translateY(-1px);
            }
        }

        &__previous {
            padding-left: 0.8rem;

            &:before {
                content: '\f104';
                font-size: 1rem;
                font-family: 'Font Awesome 5 Free';
                margin: 0 0.3rem;
                padding-right: 0.2rem;
                transform: translateY(-1px);
            }
        }

        &__submit {
            background-color: #69db7c;
            color: #fff;

            &:hover {
                background-color: #2f9e44;
                color: #fff;
            }
        }
    }

    &__container {
        padding: 1rem;
        width: 100%;
    }

    &__error {
        border: 1px solid #ffa8a8 !important;
        color: #ff4040;
    }

    &__error-group {
        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }

    &__error-message {
        color: #ff4040;
        font-size: 0.7rem;
        margin-left: 1rem;
    }

    &__field {
        display: block;
        width: 100%;
    }

    &__form {
        overflow: hidden;
    }

    &__project {

        &__container {
            margin-bottom: 7rem;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
        width: 100%;
    }

    &__section {
        border: 1px solid rgba(172, 170, 170, 0.2);
        border-top: 4px solid #362469;
        border-radius: 12px;
        box-shadow: 0 0 20px #a5a5a52f;
        display: none;
        margin: 2rem auto;
        padding: 2rem;
        transform: translateX(-700px);
        transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
        width: 90%;

        & h4 {
            text-transform: initial;
            line-height: 1.7;
        }
    }

    &__slider {
        margin: 1rem 0 5rem 0;
    }

    &__show {
        display: block !important;
    }

    &__display {
        transform: translateX(0);
        transition: all 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }

    &__hide {
        opacity: 0;
        transform: translateX(700px);
        transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }

    &__remove {
        display: none !important;
    }

    h2 {
        text-align: center;
        text-transform: initial;
    }

    h5 {
        font-weight: 800;
    }

    hr {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        height: 0;
        margin-top: 1.5rem;
        opacity: 0.6;
        width: 90%;
    }

    input {
        background-color: #f7f7f7;
        border: 1px solid rgba(172, 170, 170, 0.4);
        filter: none !important;
        margin-top: 1.5rem;
        padding: 1rem;

        &:first-of-type {
            margin-top: 0;
        }

        &::placeholder {
            color: #a6a6a6;
        }

        &:-webkit-autofill {
            background-color: #f7f7f7;
            border: 1px solid rgba(172, 170, 170, 0.4);
            margin-top: 1.5rem;
            padding: 1rem;
        }
    }

    label {
        background-color: #f7f7f7;
        color:rgb(68, 68, 68);
        display: inline-block;
        font-size: 0.8rem;
        font-weight: 800;
        padding: 0rem 1.1rem;
        transform: translate(20px, 17px);
        z-index: 9;
    }

    select {
        display: block;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 700;
        color: #444;
        line-height: 1.3;
        padding: .6em 1.4em .5em .8em;
        width: 100%;
        max-width: 100%; 
        box-sizing: border-box;
        margin: 3rem 0;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
        border-radius: .5em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;

        &:hover {
            border-color: #888;
        }

        &:focus {
            border-color: #aaa;
            box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
            box-shadow: 0 0 0 3px -moz-mac-focusring;
            color: #222; 
            outline: none;
        }

        & option {
            font-weight:normal;
        }
    }
}

.noUi-connect {
    background-color: #362469 !important;
}

.noUi-tooltip {
    display: none !important;
}

.noUi-active .noUi-tooltip {
    display: block !important;
}
