// ===========================================
// Search
// ===========================================

.search {
    margin-top: 5rem;

    & h3, h5 {
        text-transform: initial;
    }

    & h5 {
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: initial;
        font-size: 0.8rem;
        font-style: italic;
        margin-top: 0;
        text-decoration: underline;
    }

    & ul li {
        margin-top: 3rem;

        & p {
            line-height: 1.7;
            max-width: 90%;
            margin-top: 0;
        }
    }

    &__tag {
        font-style: initial;
        font-weight: 700;
        font-size: 0.7rem;
        text-transform: uppercase;
        margin-left: 0.5rem;
        background-color: $secondary-color;
        color: #fff;
        padding: 0.3rem;
    }
}