// ===========================================
// Slider
// ===========================================

.the-slide {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
}

.slide-one {
    background-image: url('https://immergetech.com/assets/images/logos/black_sheep.png');
    background-size: 35%;
}

.slide-two {
    background-image: url('https://immergetech.com/assets/images/logos/heritage.png');
    background-size: 70%;
}

.slide-three {
    background-image: url('https://immergetech.com/assets/images/logos/pale_fire.png');
    background-size: 60%;
}

.slide-four {
    background-image: url('https://immergetech.com/assets/images/logos/ritchie.png');
    background-size: 40%;
}

.slide-five {
    background-image: url('https://immergetech.com/assets/images/logos/skyline.png');
    background-size: 60%;
}

.slide-six {
    background-image: url('https://immergetech.com/assets/images/logos/turkey_knob.png');
    background-size: 35%;
}

.my-slider {
    //background-color: #f7f7f7;
    border-top: 1px solid rgba(128, 128, 128, 0.1);
    //border-bottom: 20px solid #fff;
}

.slider-container {
    display: flex;
    flex-direction: column;
}

.slider-logo {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    background-image: url('https://www.immergetech.com/assets/images/logos/icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    border: 20px solid #fff;
    transform: translateY(20px);
    z-index: 9;
}

.tns-nav {
    display: none !important;
}

.tns-outer button {
    display: none !important;
}

.tns-outer {
    background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%); 
}