// ===========================================
// Slider
// ===========================================

.the-slide {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    filter: grayscale(100%);
    transform: scale(1);
    transition: all 0.3s ease-in-out;

    &:hover {
        filter: grayscale(0);
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
}

.my-slider {
    border-top: 1px solid rgba(128, 128, 128, 0.1);
}

.slider-container {
    display: flex;
    flex-direction: column;
}

.slider-logo {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    background-image: url('https://www.immergetech.com/assets/images/logos/icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    border: 20px solid #fff;
    transform: translateY(20px);
    z-index: 9;
}

.tns-nav {
    display: none !important;
}

.tns-outer button {
    display: none !important;
}

.tns-outer {
    background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%); 
}
