// ===========================================
// Variables
// ===========================================

$tablet-width: 768px;
$desktop-width: 1025px;
$primary-color: #36226a;
$primary-color-light: #5f4693;
$secondary-color: #76c043;
$secondary-color-dark: #005100;
$text-color: #373D3F;