// ===========================================
// Variables
// ===========================================

$tablet-width: 768px;
$desktop-width: 1025px;
$primary-color: #36226a;
$primary-color-light: #6e54a5;
$primary-color-dark: #28194d;
$secondary-color: #76c043;
$secondary-color-dark: #488b18;
$text-color: #373D3F;
$container-bg: #f6f6f6;